var guide = new Guideline.Guide("{{ name }}",{ startOnUrl: "" });
var page;
{{#each pages }}
    page = guide.addPage("{{name}}");
    {{#each steps }}
        page.addStep(
        {
            "name": "{{name}}",
            "type": "{{type}}",
            "title": "{{title}}",
            "content": "{{breaklines content}}",
            "continueWhen": "{{continueWhen}}",
             "align": "{{align}}",
              {{#if showContinue}}
                                "showContinue": "{{showContinue}}",
              {{/if}}
             {{#if continueAfter}}
                   "continueAfter": "{{continueAfter}}",
             {{/if}}
                   "showAt": "{{showAt}}",
                   "help": "{{help}}",
             {{#if showSkip}}
                  "showSkip": {{showSkip}},
             {{/if}}
             {{#if overlayOptions}}
                  "overlayOptions": [
                      "style": {
                      "opacity": "{{overlayOptions.style.opacity}}"
                      }
                  ]
             {{/if}}
        }
        );
    {{/each}}
{{/each}}
{{#if nextGuides}}
page = guide.addPage("Continue");
   page.addStep(
          {
          "name": "Continue",
          "type": "overlay",
          "title": "Continue",
          "content": "¿Do you wish to continue with the next guides?",
          });
{{/if}}

guide.register();