/*GitHub proxy*/

div.gl-proxy-disclaimer {
    background-color: red;
    color: #fff;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

div.gl-proxy-disclaimer a,
div.gl-proxy-disclaimer a:visited,
div.gl-proxy-disclaimer a:link {
    color: #fff;
    text-decoration: underline;
}

/*Guideline Bubble*/

.gl-overlay {
    color: white;
    text-align:center;
}
.gl-overlay h1 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 18px;
}
.gl-overlay p {
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 25px;
    font-size: 2em;
}
.gl-overlay .btn.btn-alpha-blue.btn-large {
    padding: 5px 46px;
    margin-bottom: 13px;
    font-size: 20px;
    font-weight: 600;
}

.gl-overlay a, .gl-overlay a:hover, .gl-overlay a:visited {
    /*color: #fff;*/
    text-decoration: underline;
}

.gl-bubble {
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 9px 2px rgba(35,35,35,0.5);
    /*color: white;*/
}

.gl-bubble .content {
    padding: 10px;
}

.gl-bubble .gl-close,
.gl-bubble .gl-close:visited,
.gl-bubble .gl-close:active {
    position: absolute;
    right: 8px;
    top: 4px;
    font-weight: bold;
    text-decoration: none;
    color: #08C;
}
.gl-bubble .gl-close:hover {
    text-decoration: none;
    color: #005580;
}

.gl-bubble h2 {
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 20px;
}

.gl-bubble h2 + div {
    margin-top: 10px;
}

.gl-bubble .btn.btn-alpha-blue {
    background: #BBB;
    margin-top: 17px;
}
.gl-bubble .btn.btn-alpha-blue:hover {
    background: #999;
}

.gl-bubble .progress-bar {
    height: 2px;
    background-color: #c0c0c0;
}

/*Arrow*/
.gl-bubble .arrow,
.gl-bubble .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.gl-bubble .arrow {
    border-width: 11px;
}

.gl-bubble .arrow:after {
    border-width: 10px;
    content: "";
}

/*Top*/

.gl-bubble.top {
    margin-top: -15px;
}

.gl-bubble.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #fff;
    border-bottom-width: 0;
}

.gl-bubble.top .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    border-top-color: #fff;
    border-bottom-width: 0;
}

/*Right*/

.gl-bubble.right {
    margin-left: 15px;
}

.gl-bubble.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #fff;
    border-left-width: 0;
}

.gl-bubble.right .arrow:after {
    bottom: -10px;
    left: 1px;
    border-right-color: #fff;
    border-left-width: 0;
}

/*Bottom*/

.gl-bubble.bottom {
    margin-top: 15px;
}

.gl-bubble.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: #fff;
    border-top-width: 0;
}

.gl-bubble.bottom .arrow:after {
    top: 1px;
    margin-left: -10px;
    border-bottom-color: #fff;
    border-top-width: 0;
}

/*Left*/

.gl-bubble.left {
    margin-right: 15px;
}

.gl-bubble.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-left-color: #fff;
    border-right-width: 0;
}

.gl-bubble.left .arrow:after {
    right: 1px;
    bottom: -10px;
    border-left-color: #fff;
    border-right-width: 0;
}