@charset "UTF-8";
/* CSS Document */
/* Adding Fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300);

.lighthouse a, .lighthouse .guide-admin-title, .lighthouse button{
    cursor: pointer;
}

.lhjs-help-button {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: url("../images/help.png");
    display: block;
}

/* Button styles */
.lighthouse-button {
    width: 120px;
    height: 40px;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

a.help-button {
    background: url(../images/steps.png) 5px -39px no-repeat;
    height: 35px;
    padding-left: 30px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    line-height: 14px;
    padding-top: 5px;
    float: right;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a.help-button:hover {
    background: url(../images/steps.png) 5px 0 no-repeat;
    color: #fe9900;
}

/* Categories styles */
.lighthouse {
    width: 300px;
    background-color: #262626;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    border-top: 1px solid #000;
    clear: both;
    position: absolute;
    top: 40px;
}

.lighthouse h1, .lighthouse h2 {
    color: #fe9900;
    text-align: center;
    font-size: 16px;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 5px;
    font-weight: 300;
}

.lighthouse h2 {
    padding-top: 10px;
    font-size: 14px;
}

.lighthouse ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lighthouse ul li, .lighthouse ol li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.06)
}

.lighthouse ol {
    margin: 0;
    padding: 25px;
}

.lighthouse ol li {
    color: #fff;
}

.lighthouse ul li a, .lighthouse ol li a {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color: #fff;
    text-decoration: none;
    padding: 5px 25px 5px 15px;
    display: block;
    line-height: 15px;
    background-color: #000;
}

.lighthouse ul li a:hover, .lighthouse ol li a:hover {
    color: #feb900;
}

.lighthouse .more {
    background: url(../images/arrow.png) 285px center no-repeat #000;
}

.lighthouse .admin {
    color: #FC0;
}

.lighthouse .admin.on {
    background: url(../images/admin-on.png) 278px center no-repeat #000;
    color: #3de62c;
}

.lighthouse .admin.off {
    background: url(../images/admin-off.png) 278px center no-repeat #000;
    color: #e62c32;
}

.lighthouse .new {
    background: url(../images/add.png) 14px -3px no-repeat;
}

.lighthouse .new a {
    padding-left: 40px;
    color: #FC0;
    background-color: inherit
}

.lighthouse .back a {
    background: url(../images/back.png) 0 -2px no-repeat;
    margin-left: 10px;
    padding-left: 13px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

.lighthouse .back a:hover {
    color: rgba(255, 255, 255, 1)
}

.lighthouse .form {
    background-color: #000;
    padding: 15px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.lighthouse .form label {
    width: 90px;
    display: inline-block;
    text-align: right;
    margin-right: 5px;
}

.lighthouse .form input.text, .form input.show, textarea.text {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: 0;
    padding: 3px 5px;
    border-radius: 2px;
    width: 135px;
    font-size: 13px;
    outline: none;
    margin: 1px;
    vertical-align: middle;
}

.form input.show {
    width: 130px
}

.lighthouse .form input.radio {
    margin-left: 15px;
}

.lighthouse a.form-button, .lighthouse a.delete-button, .lighthouse button.form-button, .lighthouse button.form-button {
    padding: 3px 20px;
    background-color: #ff8400;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    border: none;
    margin: 10px 2px;
}

.lighthouse a.delete-button {
    background-color: #F00;
}

.lighthouse .validate {
    text-align: center;
    margin-top: 20px;
}

.lighthouse ul li a.steps {
    background: url(../images/mini-steps.png) 15px -2px no-repeat;
    padding-left: 40px;
}

.lighthouse ul li.page {
    background: url(../images/arrow.png) 285px center no-repeat #000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.lighthouse .checked, .lighthouse .unchecked {
    width: 14px;
    height: 14px;
    padding-left: 17px;
    background: url(../images/checked.png) no-repeat 0 0;
    display: inline-block;
}

.lighthouse .unchecked {
    background: url(../images/unchecked.png) no-repeat 0 0;
    opacity: 0.5
}

.lighthouse fieldset {
    border: thin solid #222222;
    padding: 0;
}

/* desde aqui*/

.lighthouse .guide-admin .active-page {
    display: block;
    color: white;
    border: thin solid lightgrey;
    padding: 5px;

}

.lighthouse .guide-admin-title {
    background: darkslategrey;
    width: 70%;
    border-bottom: thin solid dimgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
}

.lighthouse .guide-admin-title:hover {
    background-color: dimgrey;

}

.lighthouse .guide-admin-title:active {
    background-color: darkgray;
}

.lighthouse .guide-admin-page {
    display: none;
    overflow: hidden;
    clear: both;
}

.lighthouse .guide-steps {
    display: none;
}

.lighthouse .active-step {
    display: block;
}

.lighthouse .edit-guide-image {
    width: 16px;
    height: 16px;
    background: url("../images/guide-edit.png");
    background-repeat: no-repeat;
    float: left;
    background-color: dimgray;
}

/* style for the loading spinner*/

#lighthouseLoader {
    width: 128px
}

.lighthouseLoader_blockG {
    background-color: #FFFFFF;
    border: 3px solid #000000;
    float: left;
    height: 91px;
    margin-left: 7px;
    width: 24px;
    opacity: 0.1;
    -moz-animation-name: bounceG;
    -moz-animation-duration: 1.3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -moz-transform: scale(0.7);
    -webkit-animation-name: bounceG;
    -webkit-animation-duration: 1.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -webkit-transform: scale(0.7);
    -ms-animation-name: bounceG;
    -ms-animation-duration: 1.3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -ms-transform: scale(0.7);
    -o-animation-name: bounceG;
    -o-animation-duration: 1.3s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    -o-transform: scale(0.7);
    animation-name: bounceG;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    transform: scale(0.7);
}

#blockG_1 {
    -moz-animation-delay: 0.39s;
    -webkit-animation-delay: 0.39s;
    -ms-animation-delay: 0.39s;
    -o-animation-delay: 0.39s;
    animation-delay: 0.39s;
}

#blockG_2 {
    -moz-animation-delay: 0.52s;
    -webkit-animation-delay: 0.52s;
    -ms-animation-delay: 0.52s;
    -o-animation-delay: 0.52s;
    animation-delay: 0.52s;
}

#blockG_3 {
    -moz-animation-delay: 0.65s;
    -webkit-animation-delay: 0.65s;
    -ms-animation-delay: 0.65s;
    -o-animation-delay: 0.65s;
    animation-delay: 0.65s;
}

@-moz-keyframes bounceG {
    0% {
        -moz-transform: scale(1.2);
        opacity: 1
    }

    100% {
        -moz-transform: scale(0.7);
        opacity: 0.1
    }

}

@-webkit-keyframes bounceG {
    0% {
        -webkit-transform: scale(1.2);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(0.7);
        opacity: 0.1
    }

}

@-ms-keyframes bounceG {
    0% {
        -ms-transform: scale(1.2);
        opacity: 1
    }

    100% {
        -ms-transform: scale(0.7);
        opacity: 0.1
    }

}

@-o-keyframes bounceG {
    0% {
        -o-transform: scale(1.2);
        opacity: 1
    }

    100% {
        -o-transform: scale(0.7);
        opacity: 0.1
    }

}

@keyframes bounceG {
    0% {
        transform: scale(1.2);
        opacity: 1
    }

    100% {
        transform: scale(0.7);
        opacity: 0.1
    }

}

.lhjs-loading {
    position: absolute;
    top: 40px;
}

/* end loading spinner style*/
