<style>
    .lighthouse .roles {
        padding: 4px;
        background: darkslategrey;
        border: thin solid gray;
        margin: 1px;
    }

</style>
<div class="administrator-add lighthouse form">
    <div class="menu">
        <div><a href="#/hide" style="float: right">X</a></div>
        <div class="arrow-left" ng-click="align='right:800px;'"></div>
        <div class="arrow-right" ng-click="align='right:0px;'"></div>

        <a href="#/help" style="margin:10px;">List</a>
        <a href="#/all" style="margin:10px;">All</a>


        <a href="#/administrator" style="margin:10px;" ng-click="deleteGuide()">Delete</a>
    </div>
    <div class="form">
        <label>Current Page:</label>{{currentPage}}
        {{lastSaved}}
        <div>
            <label>Id:</label>
            <input class="text" ng-model="step._id" placeholder="logical-id-for-this-guide">

            <label ng-mouseover="tip='nombre de la guia'"> Name:</label>
            <input class="text" style="border:none;"
                   ng-model="guides.name"
                   value="{{guides.name}}">
            <label>Description</label>
            <input class="text" style="border:none;" ng-model="guides.description"
                   value="{{guides.description}}"><br>
            <label>Start Url:</label>
            <input class="text" style="border:none;" ng-model="guides.startUrl"
                   value="{{guides.startUrl}}"><br>
            <label>Next Guides</label>
            <input class="text" style="border:none;" ng-model="guides.nextGuides"
                   value="{{guides.nextGuides[0].name}}"><br>
            <label ng-mouseover="tip='roles que debe tener el usuario para poder ejecutar esta  guia'">Roles</label>
            <input
                    class="text" ng-change="guides.roles=rol.split(',')" ng-model="rol"
                    value="{{guides.roles}}">
            <br>
            <span class="roles" ng-repeat="rol in guides.roles">{{rol}}</span>

        </div>
        <input class="text" style="font-size:8px;display:none;" value="{{guides.currentPage}}">

        <button class="form-button" ng-click="addPage($index)">Add page</button>
        <div ui-sortable ng-model="guides.pages">
            <div class="guide-admin" ng-repeat="page in guides.pages">

                <div class="guide-admin-title" ng-click="$parent.activePage=$index">
                    <a class="delete" style="padding:5px;" ng-click="remove($index,guides)">X</a>{{page.name}}
                </div>
                <div ng-class="{'active-page': $index == $parent.activePage}" class="guide-admin-page">

                    <div>
                        <form>
                            Name: <input class="text" ng-model="page.name" value="{{currentPage}}"><br>
                            Description: <input class="text" ng-model="page.description"
                                                placeholder="enter the description of the page">
                        </form>
                    </div>

                    <form ui-sortable ng-model="page.steps">
                        <fieldset ng-repeat="step in page.steps">
                            <div class="guide-admin-title" ng-click="$parent.activeStep=$index">
                                <a style="padding:20px;" ng-click="removeStep(page,$index)">
                                    X
                                </a>
                                {{step.title}}
                            </div>


                            <div class="guide-steps" ng-class="{'active-step': $index == $parent.activeStep}">

                                <label>Title: </label><input class="text" ng-model="step.title"
                                                             placeholder="enter the name of the step"><br>
                                <label>Type:</label><br>
                                <label>Overlay</label><input class="text" type="radio" ng-model="step.type"
                                                             name="stepType"
                                                             value="overlay">
                                <br>
                                <label>Bubble</label><input class="text" type="radio" ng-model="step.type"
                                                            name="stepType"
                                                            value="bubble">
                                <br>
                                <label>Content: </label>
                                <textarea class="text" rows="4" cols="28" ng-model="step.content"
                                          required></textarea><br>
                                <label>Show at: </label><input class="text" ng-model="step.showAt" size="25">
                                <a class="checked" ng-click="test(step.showAt)">Test</a>
                                <br>
                                <label>Show continue: </label><input class="text" type="checkbox"
                                                                     ng-model="step.showContinue"><br>
                                <label>Show skip: </label> <input class="text" type="checkbox" ng-model="step.showSkip"
                                                                  value="true">
                                <br>
                                <label>Align: </label><input class="text" ng-model="step.align"><br>
                                <label>Continue after: </label><input class="text" type="number"
                                                                      ng-model="step.continueAfter" size="3">
                                <br>
                                <label>Continue when: </label><input class="text" size="10" ng-model="step.continueWhen"
                                                                     size="25">

                                <p>help<input class="text" type="checkbox" name="help" ng-model="step.help"
                                              value="help">
                                </p>

                            </div>
                        </fieldset>
                        <button class="add-step form-button" ng-click="addStep($index)">add step</button>
                    </form>
                </div>
            </div>
        </div>
        <button class="form-button" type="submit" ng-click="serverSave(guides)">Save</button>
    </div>
</div>