<div class="guide-list lighthouse">
    <div><a href="#/hide" style="float: right">X</a></div>
    <div>
        <p class="admin-link"><a class="form-button"ng-click="goToAdmin()">Admin</a></p>
    </div>

    <div>
        <ul>
            <li ng-repeat="guide in guides">
                <a href="#/administrator/guide/{{guide._id}}" ng-if="user">
                    <span class="edit-guide-image"></span>
                </a>
                <a href="#/hide" ng-click="startGuide(guide)">
                    {{guide.description}} </a>

            </li>
        </ul>
    </div>
</div>