<div class="lighthouse">
    <div class="back">
        <a href="#/help">Back</a>
    </div>
    <h1>Login</h1>

    <div ng-if="error" class="error">{{ error }}</div>
    <div class="form">
        <form novalidate name="login">
           <label>user: </label> <input class="text" name="username" type="text" ng-model="user.username"><br>
            <label>password: </label><input class="text" name="password" type="password" ng-model="user.password">
            <button class="form-button "ng-click="verify(user)">Access</button>
        </form>
    </div>
</div>